$color_teal: #19ae88;
$color_green: #178879;
$color_orange: #fa8300;
$color_skin: #f5c360;
$color_offWhite: #eeeee1;

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5 {
  color: #333333;
}

p {
  font-size: 0.8rem;
  color: #4b4a4a;
  font-weight: 500;
}

body {
  line-height: 1.7;
  // overflow-x: hidden;
  // background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='100' height='100' patternTransform='scale(5) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(60, 28%, 91%, 1)'/><path d='M19.95-15.33L18.32-.68 16.7 13.97l13.5-5.92 13.5-5.91L31.82-6.6zM62 68.18l21.15-23.32 9.62 29.98zm2.64-.85l26.08 5.64-8.15-25.4zm-44.7 17.42l-1.63 14.64-1.63 14.66 13.5-5.92 13.5-5.92-11.87-8.73z'  stroke-width='1' stroke='none' fill='hsla(172, 71%, 31%, 1)'/><path d='M96.78 82.3a3.74 3.74 0 104.93-5.65 3.74 3.74 0 00-5.3.37 3.76 3.76 0 00.37 5.28zm-47.2-69.69l3.44-.23-.23-3.45-3.44.24zm-3.37 45.7a1.5 1.5 0 002.1-.15 1.5 1.5 0 00-.14-2.1 1.5 1.5 0 00-2.1.15 1.5 1.5 0 00.14 2.1zm24.66-45.06A8.5 8.5 0 1082.07.43a8.5 8.5 0 10-11.2 12.82zM-3.3 82.3a3.74 3.74 0 104.93-5.65 3.74 3.74 0 00-5.29.37 3.76 3.76 0 00.36 5.28zm74.17 31.03a8.5 8.5 0 1011.2-12.82 8.5 8.5 0 10-11.2 12.82zm6.34-78.02c-2.44.5-5.05-.5-7.13-2.7-.28-.3-.43-.68-.41-1.1a1.5 1.5 0 011.56-1.46c.4 0 .78.17 1.06.47 1.37 1.45 2.9 2.1 4.33 1.8 1.41-.28 2.58-1.47 3.28-3.35 1.06-2.84 3.08-4.77 5.52-5.26 2.44-.5 5.05.5 7.13 2.7.54.57.56 1.43.06 2.02l-.12.13c-.6.57-1.57.54-2.14-.07-1.37-1.45-2.9-2.1-4.32-1.8-1.42.28-2.6 1.47-3.29 3.35-.92 2.46-2.54 4.22-4.55 4.97-.32.14-.64.24-.98.3zm8.64-9.5c1.73-.34 3.56.4 5.15 2.08a.63.63 0 00.94-.03c.2-.24.2-.6-.03-.83-1.87-1.98-4.17-2.87-6.3-2.43-2.14.43-3.91 2.15-4.86 4.7-.82 2.17-2.22 3.55-3.95 3.91-1.73.35-3.56-.38-5.15-2.07a.62.62 0 00-1.08.41c-.01.17.05.32.17.45 1.87 1.98 4.17 2.87 6.3 2.43 2.14-.43 3.91-2.15 4.87-4.7.7-1.89 1.85-3.18 3.28-3.72.2-.08.43-.15.66-.2zM39.33 79.5c.54 0 1-.4 1.07-.96.32-2.86-.55-5.34-2.39-6.8-1.83-1.45-4.44-1.72-7.15-.74-2.03.73-3.84.58-5.11-.41-1.26-1-1.82-2.73-1.58-4.87a1.08 1.08 0 00-.94-1.2 1.08 1.08 0 00-1.19.95c-.32 2.87.54 5.35 2.38 6.8 1.84 1.45 4.44 1.72 7.15.75 2.04-.73 3.85-.58 5.12.41 1.25 1 1.82 2.73 1.57 4.87a1.08 1.08 0 001.07 1.2z'  stroke-width='1' stroke='none' fill='hsla(340, 82%, 52%, 1)'/><path d='M6.7 27.57l18.65-5.83 5.84 18.64-18.65 5.84zm17.68-3.97l-15.8 4.96 4.94 15.8 15.81-4.95zm78.1-33.38l-9.04 3.62 3.62 9.05 9.04-3.62zm3.68 67.2l-9.67 2.99.57 1.86 9.67-3zM55.35 89.61l.7 1.74 12.14-4.87-.7-1.74zm5.28-48.27l1.32-.91-12.24-17.66-1.32.92zM2.4-9.78l-9.04 3.62 3.62 9.04L6.02-.74zm3.68 67.2l-9.67 3 .57 1.85 9.67-2.99zm96.4 32.88l-9.05 3.62 3.62 9.04 9.04-3.62zM2.4 90.3l-9.05 3.62 3.63 9.04 9.04-3.62z'   stroke-width='1' stroke='none' fill='hsla(31, 100%, 49%, 1)'/></pattern></defs><rect width='800%' height='800%' transform='translate(-155,-145)' fill='url(%23a)'/></svg>");
  background-image: url("./assets/bg-pettern2.png");
}

input[type="file"] {
  display: none;
}

/* -------------------------------------------------------------- Start Navbar Component  */
nav {
  top: 0;
  position: absolute;
  background-color: transparent;
  height: 8vh;
  display: flex;
  flex-direction: row;
  justify-content: start;
  margin-left: 2rem;
  align-items: center;
  letter-spacing: 1.5px;
  z-index: 5;
  width: 95vw;
  .nav_link {
    background-color: $color_teal;
    border-radius: 2rem;
    color: $color_offWhite;
    padding: .3rem .8rem;
    margin: 0 0.2rem;
    font-size: 0.8rem;
    cursor: pointer;
    font-weight: 500;
    text-decoration: none;
  }
  .nav_link:first-child {
    font-weight: 500;
    padding: 0.4rem 1.2rem;
    margin: 0 1rem;
    border-radius: 4px;
    color: $color_offWhite;
    background-color: $color_orange;
  }
  .img_div {
    margin: 0 2rem 0 auto;
    img {
      height: 3rem;
      width: 3rem;
      object-fit: cover;
      cursor: pointer;
      box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
      border-radius: 50%;
    }
  }
}
.profile_menu {
  margin: 4rem 3rem;
  position: absolute;
  z-index: 9;
  top: 0;
  right: 0;
  // padding: 1rem;
  background-color: $color_skin;
  border-radius: 1rem;
  ul{
    margin: 0;
    padding: 0;
  }
  ul li {
    font-size: 0.9rem;
    color: #494949;
    font-weight: 700;
    padding: 1rem;
    border-radius: 0.4rem;
    cursor: pointer;
  }
  ul li:hover {
    background-color: $color_orange;
    color: #eeeee1;
  }
  // @media screen and (max-width: 550px) {
  //   nav{
  //     display: ;
  //   }
  // }
}
/* -------------------------------------------------------------- End Navbar Component  */
/* -------------------------------------------------------------- End Row Component  */

.row_container {
  display: flex;
  // justify-content: center;
  // margin: 0 auto;
  overflow-x: scroll;
  overflow-y: hidden;
  .card_div {
    background-color: rgba(255, 102, 0, 0.295);
  }
}
.row_title {
  // overflow: hidden;
  background-color: $color_teal;
  padding: 0.3rem 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  .row_title_div1 {
    display: flex;
    align-items: center;
    margin: 0 5px;
    .icon_shoe {
      font-size: 3rem;
      color: $color_skin;
      margin-right: 10px;
    }
    h1 {
      color: $color_offWhite;
      font-size: 2rem;
      font-weight: bolder;
      span {
        color: $color_skin;
      }
    }
  }
  div {
    display: flex;
  }
  .icon {
    background-color: $color_orange;
    color: aliceblue;
    padding: 0.5rem;
    border-radius: 0.5rem;
    margin: 0 5px;
  }
}

/* -------------------------------------------------------------- End Row Component  */
/* -------------------------------------------------------------- Start Menu Component  */
.menu_div {
  // align-items: center;
  // display: flex;
  // justify-content: center;
  width: 100%;
  margin-top: 3rem;
  overflow-x: auto;
  margin: auto !important;
  .osm {
    display: flex;
    width: fit-content;
    margin: auto;
  }
  .card_div {
    margin: 1rem;
  }
}
/* -------------------------------------------------------------- End Menu Component  */
/* -------------------------------------------------------------- Start Cart Component  */
.cart_main {
  z-index: 99;
  position: fixed;
  background-color: $color_orange;
  right: 0;
  top: 0;
  height: 100vh;
  width: 26rem;
  .cart_header {
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: bolder;
    font-size: 1.8rem;
    .icon {
      cursor: pointer;
      background-color: $color_skin;
      padding: 0.3rem 0.8rem;
      border-radius: 1rem;
    }
    .icon:first-child {
      width: 4rem;
      height: 2rem;
    }
    p {
      display: flex;
      align-items: center;
      font-weight: bolder;
      font-size: 1rem;
    }
  }
  .cart_items {
    border-radius: 3rem;
    background-color: $color_skin;
    height: 65vh;
    width: 100%;
    // overflow-y: scroll;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    .cart_item {
      display: grid;
      grid-template-columns: 2fr 5fr 2fr;
      background-color: #ff6a0059;
      margin: 5px;
      border-radius: 3rem;
      background-color: $color_orange;
      height: 6rem;
      width: 97%;
      min-height: 6rem;

      .item_pic {
        height: 3.5rem;
        width: 3.5rem;
        margin: auto;
      }
      .details {
        margin: auto;
        p:first-child {
          font-weight: 700;
          font-size: 0.9rem;
        }
      }
      .qty {
        display: flex;
        justify-content: center;
        align-items: center;
        p {
          font-size: 1.4rem;
          font-weight: 400;
        }
        .qtyind {
          font-size: 1rem;
          font-weight: 800;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 3px;
          margin: 5px;
          border-radius: 50%;
          background-color: rgba(0, 0, 0, 0.24);
          width: 2rem;
          height: 2rem;
        }
      }
    }
  }
  .checkout {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0 0 3rem 3rem;
    background-color: $color_orange;
    height: 25vh;
    width: 100%;
    margin: 1rem 0;
    .price {
      font-weight: bolder;
      display: flex;
      justify-content: space-between;
      width: 20vw;
    }
    p {
      font-size: 0.8rem;
    }

    .price p:first-child {
      text-align: left;
    }

    .price p:last-child {
      text-align: right;
    }
    h4 {
      font-size: 1.4rem;
      margin: 0.5rem 0;
      font-weight: 700;
    }
    span {
      background-color: $color_teal;
      padding: 0.8rem 10vw;
      border-radius: 1rem;
      margin-top: 1rem;
      cursor: pointer;
      box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
    }
  }
}
@media screen and (max-width: 450px) {
  .cart_main {
    width: 100vw;
  }
}
/* -------------------------------------------------------------- End Cart Component  */
/* -------------------------------------------------------------- Start Home Page  */
.hero_bg_div {
  height: 100vh;
  position: relative;
  z-index: 2;
  .hero_text {
    // background-color: $color_offWhite;
    padding: 1rem;
    border-radius: 1rem;
    position: absolute;
    left: 4%;
    top: 5%;
    transform: translateX(50%) translateY(50%);
    img {
      z-index: 4;
      width: 18rem;
      background-color: $color_offWhite;
      border-radius: 1rem;
      padding: 0.3rem;
      // border: 5px solid black;
    }
    p {
      z-index: 4;
      width: 18rem;
    }
    .link {
      z-index: 4;
      display: inline-block;
      margin-top: 4px;
      padding: 0.5rem 2rem;
      letter-spacing: 2px;
      font-size: 0.9rem;
      border-radius: 3px;
      color: $color_offWhite;
      background-color: $color_teal;
      cursor: pointer;
    }
  }
  @media screen and (max-width: 1085px) {
    .hero_text {
      width: 15rem;
      img {
        width: 15rem;
      }
      p {
        width: 15rem;
        font-size: 0.7rem;
      }
    }
  }

  @media screen and (max-width: 860px) {
    .hero_text {
      width: 12rem;
      img {
        width: 12rem;
      }
      p {
        width: 12rem;
        font-size: 0.7rem;
      }
      .link {
        padding: 0.4rem 1.3rem;
        font-size: 0.7rem;
      }
    }
  }

  @media screen and (max-width: 700px) {
    .hero_text {
      left: 0%;
      top: 7%;
      transform: translateX(30%) translateY(50%);
    }
    .hero_bg {
      top: 200px !important;
    }
  }

  .hero_bg {
    overflow: hidden;
    position: absolute;
    width: 70vw;
    // cursor: pointer;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 1;

    /* box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1); */
  }
  @media screen and (max-width: 700px) {
    .hero_bg {
      width: 100vw;
      height: 100%;
      width: 100%;
    }
  }
}
/* -------------------------------------------------------------- End Home Page  */
/* -------------------------------------------------------------- Start Profile Page  */

.ProfilePage {
  img {
    object-fit: cover;
  }
  .file-upload {
    display: inline-block;
    border: none;
    border-radius: 4px;
    padding: 6px 12px;
    cursor: pointer;
    background-color: $color_teal;
    color: $color_offWhite;
    font-size: 16px;
    font-weight: bold;
    transition: 0.3ms;
    position: relative;
  }

  .file-upload:hover {
    background-color: $color_green;
  }

  .file-upload:active {
    background-color: $color_orange;
  }

  .file-upload input[type="file"] {
    position: absolute;
    font-size: 1rem;
    right: 0;
    top: 0;
    opacity: 0;
  }

  .file-upload::file-selector-button {
    background-color: $color_orange;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    border: none;
  }
  button {
    background-color: $color_orange;
  }
  button:hover {
    background-color: $color_skin;
    color: #333333;
  }
}
/* -------------------------------------------------------------- End Profile Page  */

/* -------------------------------------------------------------- Start Dashboard Page  */
.dashboard_section {
  display: grid;
  grid-template-columns: 25% 75%;
  padding: 5rem 0;
  .side_nav {
    background-color: #fafafaee;
    border-radius: 0 1rem 1rem 0;
    // height: 100vh;
    button {
      width: 100%;
      background-color: transparent;
      padding: 1rem 0;
      color: #494949;
      transition: 0.5s;
      border-radius: 1rem;
      margin: 1px;
    }
    button:hover {
      background-color: #b5ffffad;
    }
  }
  .content {
    background-color: #fafafaee;
    border-radius: 1rem;
    // height: 100vh;
    margin: 0 1rem;
    tbody {
      tr {
        font-size: 0.8rem;
        color: #494949;
        img {
          height: 3rem;
          width: 5rem;
          object-fit: cover;
        }
        .delete_icon {
          width: 2rem;
          height: 2rem;
          margin: auto;
          color: red;
          cursor: pointer;
          // display: flex;
          // align-items: center;
          // justify-content: center;
        }
      }
    }
  }
}
/* -------------------------------------------------------------- End Dashboard Page  */

/* -------------------------------------------------------------- Start Animation  */
.animated {
  animation: up-down 4s ease-in-out infinite alternate-reverse both;
}
@-webkit-keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  25% {
    transform: translateX(-10px);
  }
  50% {
    transform: translateX(10px);
  }
  75% {
    transform: translateY(-10px);
  }
}
@keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  25% {
    transform: translateX(-10px);
  }
  50% {
    transform: translateX(10px);
  }
  75% {
    transform: translateY(-10px);
  }
}
/* -------------------------------------------------------------- End Animation  */
